
# compiled files
__pycache__/
*.pyc

# jupyter notebooks
.ipynb_checkpoints

# sphinx documentation
doc/_build/

# vim swap files
*.swp

# add directory of untracked stuff
tests_untracked
notebooks/test*
notebooks/Untitled*

# slurm log file
tools/log.o*
config_ckdtree/log.o*
pyicon/quickplots/log.o*
config_qp_compare/log.o*

tools/config_qp_???.py

# trash
trash

# all_qps
all_qps
all_qp_compare
