
# compiled files
__pycache__/
*.pyc

# jupyter notebooks
.ipynb_checkpoints

# sphinx documentation
doc/_build/

# vim swap files
*.swp

# add directory of untracked stuff
tests_untracked

# slurm log file
tools/log.o*

# trash
trash

# all_qps
all_qps
